@import "tailwindcss";

@theme {
  --color-background: #f8f9ff;
  --color-on-background: #0b1c30;
  --color-surface-container-lowest: #ffffff;
  --color-outline-variant: #c6c6cd;
  --color-secondary: #0051d5;
  --color-on-surface: #0b1c30;
  --color-on-surface-variant: #45464d;
  --color-outline: #76777d;

  --spacing-gutter: 24px;
  --spacing-card-editorial: 24px;
  
  --font-serif: "Newsreader", serif;
  --font-sans: "Work Sans", sans-serif;
}

@layer base {
  body {
    background-color: #f8f9ff;
    color: #0b1c30;
    margin: 0;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}